<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collect.mapper.UserInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.collect.entity.UserInfo">
		<id column="id" property="id" />
		<result column="login_name" property="loginName" />
		<result column="user_name" property="userName" />
		<result column="consultant_sn" property="consultantSn" />
		<result column="is_part_time" property="isPartTime" />
		<result column="password" property="password" />
		<result column="is_del" property="isDel" />
		<result column="creator_id" property="creatorId" />
		<result column="created_at" property="createdAt" />
		<result column="modifier_id" property="modifierId" />
		<result column="modified_at" property="modifiedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name AS loginName, user_name AS userName, consultant_sn AS consultantSn, is_part_time AS isPartTime, password, is_del AS isDel, creator_id AS creatorId, created_at AS createdAt, modifier_id AS modifierId, modified_at AS modifiedAt
    </sql>
</mapper>
